<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<h2>Регистрация</h2>
<form action="/register" method="post">
    <input type="text" name="username" placeholder="Логин"><br>
    <input type="password" name="password" placeholder="Пароль"><br>
    <button type="submit">Зарегистрироваться</button>
</form>
<p>Уже есть аккаунт? <a href="/login">Войдите</a></p>
</body>
</html>